USE [master]
GO
/****** Object:  Database [EmployeeDb]    Script Date: 12/3/2021 6:21:01 pm ******/
CREATE DATABASE [EmployeeDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmployeeDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmployeeDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeDb]
GO
/****** Object:  Table [dbo].[emp_table]    Script Date: 12/3/2021 6:21:16 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emp_table](
	[Name] [varchar](100) NOT NULL,
	[address] [varchar](100) NOT NULL,
	[city] [varchar](100) NOT NULL,
	[country] [varchar](100) NOT NULL,
	[telephoneNo] [varchar](100) NOT NULL,
	[role] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[addresslocation] [varchar](100) NOT NULL,
 CONSTRAINT [PK_emp_table] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[emp_table] ([Name], [address], [city], [country], [telephoneNo], [role], [email], [addresslocation]) VALUES (N'Gavin Grant', N'39 Barbados Road', N'Kingston', N'Jamaica', N'+18768380810', N'Student', N'gavingrant691@gmail.com', N'')
GO
USE [master]
GO
